<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>YBB个人网站</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/metisMenu/metisMenu.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/back.style.css}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/metisMenu/metisMenu.min.js}"></script>
    <!--<script th:src="@{/js/back.js}"></script>-->
</head>
<body>
    <!--header-->
    <div th:replace="/backstage/layout/header :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <!--leaft-->
            <div th:replace="/backstage/layout/aside :: aside"></div>
            <!-- begin side-collapse-visible bar -->
            <div class="side-visible-line hidden-xs" data-side="collapse">
                <i class="fa fa-caret-left"></i>
            </div>
            <!--main-->
            <div class="col-md-8" layout:fragment="content"></div>
        </div>
    </div>

    <!--footer-->
    <div th:replace="/backstage/layout/footer :: footer"></div>
</body>
</html>