<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="aside" class="side col-md-3">
        <div class="side-content">
            <button type="button" class="btn btn-default" aria-label="Left Align" style="width: 100%;">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
            <nav class="sidebar-nav">
                <!-- Sidebar Menu-->
                <ul class="metismenu nav nav-inverse nav-bordered nav-stacked" data-plugin="metismenu" id="menu">
                    <li class="nav-header">MAIN</li>
                    <li>
                        <a class="active" href="#">
                            <span class="glyphicon-list-alt"></span>
                            <span class="nav-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li class="nav-header">Components</li>
                    <!-- BEGIN: chart -->
                    <li>
                        <a href="javascript:;">
                            <span class="nav-icon">
                                <i class="fa fa-fw fa-bar-chart-o"></i>
                            </span>
                            <span class="nav-title">Chart</span>
                            <span class="nav-tools">
                                <i class="fa fa-fw arrow"></i>
                                <span class="label label-primary">4</span>
                            </span>
                        </a>
                        <ul class="nav nav-sub nav-stacked">
                            <li>
                                <a href="chart-quick.html">Quick Chart</a>
                            </li>
                            <li>
                                <a href="chart-chartjs.html">Chart.js</a>
                            </li>
                            <li>
                                <a href="chart-morris.html">Morris</a>
                            </li>
                            <li>
                                <a href="chart-flot.html">Flot</a>
                            </li>
                            <li>
                                <a href="chart-inline.html">Inline charts</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END: chart -->

                    <!-- BEGIN: maps -->
                    <li>
                        <a href="javascript:;">
                            <span class="nav-icon">
                                <i class="fa fa-fw fa-map"></i>
                            </span>
                            <span class="nav-title">Maps</span>
                            <span class="nav-tools">
                                <i class="fa fa-fw arrow"></i>
                            </span>
                        </a>
                        <ul class="nav nav-sub nav-stacked">
                            <li>
                                <a href="map-google.html">Google Maps</a>
                            </li>
                            <li>
                                <a href="map-vector.html">Vector Maps</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END: maps -->

                    <!-- BEGIN: ui -->
                    <li>
                        <a href="javascript:;">
                            <span class="nav-icon">
                                <i class="fa fa-fw fa-tachometer"></i>
                            </span>
                            <span class="nav-title">UI</span>
                            <span class="nav-tools">
                                <i class="fa fa-fw arrow"></i>
                            </span>
                        </a>
                        <ul class="nav nav-sub nav-stacked">
                            <li>
                                <a href="ui-slider.html">Slider</a>
                            </li>
                            <li>
                                <a href="ui-timeline.html">Timeline</a>
                            </li>

                            <!-- BEGIN: icon -->
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-title">Icons</span>
                                    <span class="nav-tools">
                                        <i class="fa fa-fw arrow"></i>
                                    </span>
                                </a>
                                <ul class="nav nav-sub nav-stacked">
                                    <li>
                                        <a href="ui-icon-awesome.html">
                                            <span class="nav-icon">
                                                <i class="fa fa-fw fa-font-awesome"></i>
                                            </span>
                                            <span class="nav-title">Font Awesome</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ui-icon-glyphicon.html">
                                            <span class="nav-icon">
                                                <i class="glyphicon glyphicon-fire"></i>
                                            </span>
                                            <span class="nav-title">Glyphicons</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END: icon -->
                        </ul>
                    </li>
                    <!-- END: ui -->
                </ul>
            </nav>
        </div>
        <script>
            $(function () {
                $('#menu').metisMenu();
            });
        </script>
    </aside>
</html>